@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,500&family=Rubik:wght@500&family=Ubuntu:ital,wght@1,300&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    font-size: 25px;
    font-family: Poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("background.jpg");
    background-position: center;
    
}
.header{
    padding-top: 3%;
    padding-bottom: 1.5%;
}
.main{
    border-radius: 10px;
    background-color: aliceblue;
    width: 50%;
    height: 65%;
    text-align: center;
    
}
input{
    height: 3vh;
    width: 10vw;
    border-radius: 3px;
    text-align: center;
    font-size: 15px;
}
.content{
   font-size: 25px;
   padding-bottom: 3%;
}
#resultado{
    padding-top: 3%;
}
button{
    border-radius: 4px;
    height: 1.5vw;
    width: 6vw;
}
input:hover{
    background-color: aliceblue;
}
button{
    height:5vh;
    width:10vw;
}
input{
    height:5vh;
    width:7vw;
}
@media screen and (max-width:768px){
    .main{
        font-size: 19px;
        width: 80%;
        height: 52%;
    }
    .content{
        font-size: 23px;
        padding:20px;
    }
    .header{
        font-size:15px;
    }
    input{
        height:5vh;
        width:30vw;
    }
    button{
        height:5vh;
        width:30vw;
    }
    .container{
        background-image: url("background.jpg");
        background-position: center;
        background-repeat: no-repeat;
    }

}